* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fbfaf7;
  --secondary-color: #f1eeea;
  --primary-font-color: #636260; 
}

/* Contact Form */
.contact-form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4.5rem;
  color: var(--primary-font-color);
}

.contact-form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32%;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 3rem;
}

.contact-form__text {
  text-align: left;
  padding: 1rem 0 2rem 0;
  line-height: 1.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea,
select {
  padding: 0.8rem;
  border: none;
  border-bottom: 0.5px solid white;
  background-color: var(--secondary-color);
}

#date {
  color: var(--primary-font-color);
}

#referral-source {
  color: var(--primary-font-color);
}

#referral-source option:hover {
  background-color: var(--primary-font-color);
}

.contact-form__button {
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  color: white;
  background-color: #a2845e;
  border: none;
  cursor: pointer;
}

.contact-form__image {
  width: 270px;
  height: 380px;
  background: url("/form/images/img4.jpeg") no-repeat center center/cover #414040;
}

/* Credits */
.credits a{
    font-size: 0.8rem;
    color: #cecece;
    text-decoration: none;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* JavaScript Class */
  .hidden {
    display: none;
}