* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Portfolio Overview */
.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: 110vh;
  width: 99vw;
  font-family: "Times New Roman", Times, serif, sans-serif;
  color: #636260;
}

.portfolio__container h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.7rem;
  padding: 2.4rem;
}

.portfolio__images {
  position: relative; /* Add this line */
  width: 50%;
  height: 55%;
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio__image--1 {
  background: url("/carousel/images/image-1.jpg") no-repeat center center/cover #414040;
}

.portfolio__image--2 {
  background: url("/carousel/images/image-2.jpg") no-repeat center center/cover #414040;
}

.portfolio__image--3 {
  background: url("/carousel/images/image-3.jpg") no-repeat center center/cover #414040;
}

.portfolio__image--4 {
  background: url("/carousel/images/image-4.jpg") no-repeat center center/cover #414040;
}

.portfolio__image--5 {
  background: url("/carousel/images/image-5.jpg") no-repeat center center/cover #414040;
}

.portfolio__image--6 {
  background: url("/carousel/images/image-6.jpg") no-repeat center center/cover #414040;
}

/* Buttons */
.buttons {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  gap: 30rem;
}

.buttons a img{
  width: 3rem;
  cursor: pointer;
  filter: invert(0.2);
  opacity: 0.6;
}

.buttons a img:hover{
  opacity: 1;
}

#playPauseButton{
  opacity: 0.4;
}

#playPauseButton:hover{
  opacity: 0.8;
}
/* Thumbnails */
.portfolio__thumbnails{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-top: 3rem;
}

.portfolio__thumbnails img{
    width: 4rem;
    height: 3rem;
}

/* User Input Timer */
.slider__container{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 0.2rem;
  background: #a3a2a2;
  outline: none; 
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px; 
  height: 15px;
  border-radius: 50%;  
  background: #606b67; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 15px; 
  height: 15px; 
  border-radius: 50%; 
  background: #606b67;
  cursor: pointer;
}

label{
  font-style: italic;
  color: #929090;
  text-align: center;
}

#currentDuration{
  padding: 1rem;
  color: #929090;
}

/* Credits */
.credits a{
  font-size: 0.8rem;
  color: #cecece;
  text-decoration: none;
  padding: 1rem;
}

/* JavaScript Classes */
.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

